* {
  box-sizing: border-box;
}

a, button {
  transition: all;
  transition-duration: 1000ms;
}

body {
  height: 100%;       
  margin: 0;        
  padding: 0;  
  background-color: rgba(255, 255, 255, 0.849);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(232, 248, 232, 0.849);
  padding: 0px 30px;
}
header div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
header #logo {
  margin-right: 40px;
  border: 10px solid rgb(248, 248, 248);
  padding: 11px;
}
header a {
  border: 2px solid rgba(0, 128, 0, 0.247);
  margin: 15px;
  padding: 11px 22px;
  text-decoration: none;
  color: rgba(58, 52, 52, 0.849);
  border-radius: 30px;
}
header a:hover {
  background-color: rgba(97, 190, 5, 0.342);
  cursor: pointer;
  border: 3px solid rgb(248, 248, 248);
  padding: 11px 66px;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  padding-top: 40px;
}

main img {
  margin-top: 40px;
  height: 600px;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: all;
  transition-duration: 1300ms;
  visibility: hidden;
  width: 0px;
  margin-right: 6%;
  background-color: rgba(247, 241, 217, 0.623);
  border-radius: 110px;
}
.menu h2 {
  margin-top: 80px;
}
.menu section {
  margin: 110px 60px;
}
.menu button {
  background-color: rgba(97, 190, 5, 0.342);
  color: rgba(58, 52, 52, 0.849);
  padding: 11px 44px;
  margin-bottom: 110px;
  border-radius: 60px;
  border: 1px solid rgba(247, 241, 217, 0.623);
}
.menu button:hover {
  background-color: rgba(250, 250, 250, 0.89);
  cursor: pointer;
  transition: all;
  transition-duration: 600ms;
  padding: 11px 88px;
  border-color: rgba(58, 52, 52, 0.849);
  border-radius: 220px;
}

#popup {
  display: none;
}
.popup__wrapper {
  background: rgba(0, 0, 0, .75);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
}
.popup__container {
  background: #fff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  margin: 300px auto;
  max-width: 100%;
  padding: 40px;
  width: 800px;
}
.popup__title {
  font-size: 26px;
  margin-bottom: 15px;
}
